@use 'sass:color';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue',
  arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$cv-corporate: #000;
$cv-masterbrand: #828383;
$cv-bg: color.scale($cv-masterbrand, $lightness: 75%);
$cv-bg2: color.scale($cv-masterbrand, $lightness: 50%);
