@use 'sass:color';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue',
  arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$black: #000;
$gray: #ddd;
$cv-background: #828383;
$cv-bgc: color.scale($cv-background, $lightness: 75%);
$cv-bgo: color.scale($cv-background, $lightness: 50%);

$line: #7dd047;
